---
- name: Update all packages
  ansible.builtin.yum:
    name: "*"
    state: latest
    use_backend: dnf4

- name: Install required packages
  ansible.builtin.yum:
    use_backend: dnf4
    name:
      - git
      - java-11-openjdk
      - docker
      - trivy
      - tar
      - unzip
      - vim
      - nano
      - curl
      - telnet
      - net-tools
      - iputils
      - dnsutils
      - tcpdump
      - traceroute
      - telnet
      - netcat
      - nc
      - nmap
      - wireshark
    state: present

- name: Start and enable Docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Add Jenkins repo
  ansible.builtin.yum_repository:
    name: jenkins
    description: Jenkins repo
    baseurl: https://pkg.jenkins.io/redhat-stable
    gpgcheck: yes
    gpgkey: https://pkg.jenkins.io/redhat-stable/jenkins.io.key

- name: Install Jenkins
  ansible.builtin.yum:
    name: jenkins
    state: present
    use_backend: dnf4

- name: Start and enable Jenkins
  ansible.builtin.service:
    name: jenkins
    state: started
    enabled: true

- name: Add Jenkins user to docker group
  ansible.builtin.user:
    name: jenkins
    groups: docker
    append: true
    notify: Restart Jenkins

- name: Install kubectl
  ansible.builtin.get_url:
    url: https://amazon-eks.s3.us-west-2.amazonaws.com/1.27.6/2026-01-01/bin/linux/amd64/kubectl
    dest: /usr/local/bin/kubectl
    mode: "0755"

- name: Update kubeconfig
  ansible.builtin.shell: |
    aws eks update-kubeconfig --name {{ cluster_name }} --region {{ aws_region }}

- name: Configure Jenkins Shared Library (JCasC)
  ansible.builtin.include_tasks: jenkins-shared-library.yaml
