---
- name: Install Helm
  ansible.builtin.shell: |
    curl -fsSL https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
  args:
    creates: /usr/local/bin/helm

- name: Add EKS Helm repo
  ansible.builtin.shell: helm repo add eks https://aws.github.io/eks-charts
  changed_when: true

- name: Update Helm repos
  ansible.builtin.shell: helm repo update
  changed_when: true

- name: Install AWS Load Balancer Controller
  ansible.builtin.shell: |
    helm upgrade --install aws-load-balancer-controller eks/aws-load-balancer-controller \
      -n kube-system \
      --set clusterName={{ cluster_name }} \
      --set serviceAccount.create=false \
      --set serviceAccount.name=aws-load-balancer-controller
  changed_when: true

- name: Add Argo Helm repo
  ansible.builtin.shell: helm repo add argo https://argoproj.github.io/argo-helm
  changed_when: true

- name: Update Helm repos (Argo)
  ansible.builtin.shell: helm repo update
  changed_when: true

- name: Install ArgoCD
  ansible.builtin.shell: |
    helm upgrade --install argocd argo/argo-cd -n argocd --create-namespace
  changed_when: true

- name: Copy ArgoCD Application manifest to host
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../argocd/application.yaml"
    dest: /tmp/argocd-application.yaml
    mode: "0644"

- name: Apply ArgoCD Application (sync app from Git into cluster)
  ansible.builtin.shell: kubectl apply -f /tmp/argocd-application.yaml
  register: argocd_apply
  retries: 5
  delay: 20
  until: argocd_apply.rc == 0
  changed_when: true