---
# Requires: ansible-galaxy collection install amazon.aws
plugin: amazon.aws.aws_ec2
regions:
  - us-east-1 # Change to your AWS region
filters:
  instance-state-name: running
  tag:service: jenkins
keyed_groups:
  - key: tags.service
    prefix: service
hostnames:
  - public-ip-address
  - private-ip-address
compose:
  ansible_host: public_ip_address
  ansible_user: ec2-user
