---
# Dynamic inventory: requires amazon.aws collection + boto3; filename must end with .aws_ec2.yaml
plugin: amazon.aws.aws_ec2
regions:
  - us-east-1
filters:
  instance-state-name: running
  tag:service: jenkins
keyed_groups:
  - key: tags.service
    prefix: service
hostnames:
  - public-ip-address
  - private-ip-address
compose:
  ansible_host: public_ip_address
  ansible_user: ec2-user
