---
- name: Setup required packages, Jenkins, HELM in EKS, ALB IAM Setup
  hosts: service_jenkins
  become: yes
  gather_facts: false
  vars:
    cluster_name: "my-eks-cluster"
    aws_account_id: "183631347882"
  roles:
    - role: helm-install
    - role: alb-iam
    - role: Jenkins
