// Groovy init script to create/update a Pipeline job for this project.
// Job is created once at Jenkins startup if it does not already exist.

import jenkins.model.Jenkins
import org.jenkinsci.plugins.workflow.job.WorkflowJob
import org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition
import hudson.plugins.git.GitSCM
import hudson.plugins.git.UserRemoteConfig
import hudson.plugins.git.BranchSpec
import hudson.plugins.git.SubmoduleConfig

def j = Jenkins.get()

def jobName = "{{ jenkins_seed_job_name | default('CloudDevOpsProject-pipeline', true) }}"
def repoUrl = "{{ jenkins_shared_library_repo }}"
def branch = "{{ jenkins_shared_library_version }}"
def credId = "{{ jenkins_github_credential_id }}"
def jenkinsfilePath = "{{ jenkins_seed_job_jenkinsfile | default('Jenkinsfile', true) }}"

def job = j.getItem(jobName)
if (job == null || !(job instanceof WorkflowJob)) {
  println "[init] Creating seed pipeline job '${jobName}' from repo '${repoUrl}'."
  job = j.createProject(WorkflowJob, jobName)
} else {
  println "[init] Updating existing seed pipeline job '${jobName}'."
}

def scm = new GitSCM(
  [new UserRemoteConfig(repoUrl, null, null, credId)],
  [new BranchSpec("*/${branch}")],
  false,
  Collections.<SubmoduleConfig>emptyList(),
  null,
  null,
  Collections.emptyList()
)

def flowDef = new CpsScmFlowDefinition(scm, jenkinsfilePath)
flowDef.setLightweight(true)

job.setDefinition(flowDef)
job.save()
j.save()

println "[init] Seed pipeline job '${jobName}' configured."

