// Groovy init script to create/update a Pipeline job for this project.
// Job is created once at Jenkins startup if it does not already exist.

import jenkins.model.Jenkins
import hudson.model.FreeStyleProject
import org.jenkinsci.plugins.workflow.job.WorkflowJob
import org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition
import jenkins.plugins.git.GitSCMSource
import org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty

def j = Jenkins.get()

def jobName = "{{ jenkins_seed_job_name | default('CloudDevOpsProject-pipeline', true) }}"
def repoUrl = "{{ jenkins_shared_library_repo }}"
def branch = "{{ jenkins_shared_library_version }}"
def credId = "{{ jenkins_github_credential_id }}"
def jenkinsfilePath = "{{ jenkins_seed_job_jenkinsfile | default('Jenkinsfile', true) }}"

def existing = j.getItem(jobName)

if (existing != null && existing instanceof org.jenkinsci.plugins.workflow.job.WorkflowJob) {
  println "[init] Seed pipeline job '${jobName}' already exists, skipping creation."
  return
}

println "[init] Creating seed pipeline job '${jobName}' from repo '${repoUrl}'."

def job = new WorkflowJob(j, jobName)

def scmSource = new GitSCMSource(repoUrl)
scmSource.credentialsId = credId

def flowDef = new CpsScmFlowDefinition(
  new jenkins.plugins.git.GitSCM(
    [new hudson.plugins.git.UserRemoteConfig(repoUrl, null, null, credId)],
    [new hudson.plugins.git.BranchSpec("*/${branch}")],
    false,
    [],
    null,
    null,
    []
  ),
  jenkinsfilePath
)
flowDef.setLightweight(true)

job.setDefinition(flowDef)
j.createProjectFromXML(jobName, job.getConfigFile().asInputStream())
j.reload()

println "[init] Seed pipeline job '${jobName}' created."

